{% extends "search/base.html" %}
{% load static %}

{% block title %}Account{% endblock %}

{% block content %}

    <h1>@{{ profile.user.username }}`s Profile</h1>

    {% if profile.profile_image %}
        <img src="{{ profile.profile_image.url }}" width="250" height="250" alt="{{ profile.user.username }}" >
    {% else %}
        <img src="{% static 'account/img/no_image.png' %}" width="250" height="250" alt="{{ profile.user.username}}">
    {% endif %}
    <br/>

    <strong>Follows: </strong>
    {% for following in profile.follows.all %}
        <a href="{% url 'account:profile' following.user.id %}">
            {% if profile.user.id != request.user.id and following.user.id != profile.user.id %}
                @{{ following }}
            {% endif %}
        </a><br/>
    {% endfor %}
    <br/>

    <strong>Followed By: </strong>
    {% for following in profile.followed_by.all %}
        <a href="{% url 'account:profile' following.user.id %}">
            {% if profile.user.id != request.user.id and following.user.id != profile.user.id%}
                @{{ following }}
            {% endif %}
        </a><br/>
    {% endfor %}
    <br/>

    <form method="post">
        {% csrf_token %}
        {% if profile.user.id != request.user.id %}
            {% if profile in user.profile.follows.all %}
                <button name="follow" value="unfollow" type="submit">
                    Unfollow @{{ profile.user.username|lower }}
                </button>
            {% else %}
                <button name="follow" value="follow" type="submit">
                    Follow @{{ profile.user.username|lower }}
                </button>
            {% endif %}
        {% endif %}
    </form>

    {% if request.user.id == profile.user.id %}
        <p>
            <a href="{% url 'account:edit_user' %}">Edit Profile</a>
        </p>
    {% endif %}
    <p>----------------------------------------</p>
        {% if projects %}
            {% for project in projects %}
                <p>
                    <a href="{% url 'account:show_project' project.pk %}">{{ project.title }}</a>
                    {% if request.user.id == profile.user.id %}
                        <a href="{% url 'account:edit_project' project.pk %}">Edit Project</a>
                        <a href="{% url 'account:delete_project' project.pk %}">Delete Project</a>
                    {% endif %}

                </p>
                <p>
                    {{ project.description|truncatewords:8 }}
                </p>
                <p>
                    ----------------------------------------
                </p>
            {% endfor %}
        {% endif %}
        {% if request.user.id == profile.user.id %}
            <a href="{% url 'account:add_project' %}">Add Your Projects</a>
        {% endif %}
        <br/>

        {% for team in teams %}
            <p>
                <a href="{% url 'account:show_team' team.pk %}">{{ team.title }}</a>
                {% if request.user.id == profile.user.id %}
                    <a href="{% url 'account:edit_team' team.pk %}">Edit Team</a>
                    <a href="{% url 'account:delete_team' team.pk %}">Delete Team</a>
                {% endif %}
                <p>
                    {{ team.description|truncatewords:8 }}
                </p>
            </p>
        {% endfor %}
        <br/>
        {% if request.user.id == profile.user.id %}
            <a href="{% url 'account:add_team' %}">Create Your Teams</a>
        {% endif %}
    <br/>



    {% if request.user.id == profile.user.id %}

    {% endif %}

{% endblock %}