{% extends 'search/base.html' %}

{% block title %}Password Reset Form{% endblock%}


{% block content %}
<div class="col-md-6 offset-md-3">
    </br>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
        <h1 class="text-center">Reset Password</h1>
        </div>
        <div class="mb-3">
        <input name="email" class="form-control" placeholder="Email Address" type="email" required="true">
        </div>
        <div class="mb-3">
        <button class="btn btn-dark">Send Reset Email</button>
        </div>
    </form>
</div>
{% endblock %}