{% extends 'search/base.html' %}

{% block title %}Search{% endblock %}


{% block content %}
    <h1>Search Users</h1>

    <form method="post">
        {% csrf_token %}
        <input type="input" placeholder="Search Users" name="search">

        <button type="submit">Search</button>
    </form>
    <br/>
    {% if search %}
        <h3>You Searched For: {{ search }}</h3>
    {% endif %}

    {% for profile in searched %}
        <a href="{% url 'account:profile' profile.pk %}">{{ profile.username }}</a>
    {% endfor %}

{% endblock %}