{% extends 'search/base.html' %}

{% block title %}Search{% endblock %}


{% block content %}
    <h1>Search</h1>

    <form method="post">
        {% csrf_token %}
        <input type="input" placeholder="Search" name="search">
        <label>
            <input type="radio" name="search_type" value="profiles">Profiles
        </label>
        <label>
            <input type="radio" name="search_type" value="teams">Team
        </label>
        <button type="submit">Search</button>
    </form>
    <br/>
    {% if search %}
        <h3>You Searched For: {{ search }} | Type: {{ search_type.capitalize }}</h3>
    {% endif %}

    {% if search_type == 'profiles' %}
            {% for profile in page_obj %}
                User: <a href="{% url 'account:profile' profile.pk %}">@{{ profile.user.username }}</a>
                <p>
                    Experience: {{ profile.experience }}
                </p>
                <p>----------------------------------</p>
            {% endfor %}
    {% elif search_type == 'teams' %}
            {% for team in page_obj %}
                Team: <a href="{% url 'account:show_team' team.pk %}">{{ team.title }}</a>
                <p>{{ team.description|truncatewords:8}}</p>
                <p>----------------------------------</p>
            {% endfor %}
    {% endif %}

    {% include 'search/page_paginator.html' %}
{% endblock %}