{% extends "search/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="col-md-6 offset-md-3">
        <br/>
        <h1>Login In Your Account</h1>

        {% if form.errors %}
            <p>
                Your Username And Password Didn't Match.
                Please Try Again.
            </p>
        {% else %}
            <p>Please Login Using The Following Form</p>
        {% endif %}

        <form method="post" action="{% url 'account:login'%}">
            {% csrf_token %}
            <div class="mb-3">
                <input type="text" name="username" class="form-control" placeholder="Enter Your Username">
            </div>
            <div class="mb-3">
                <input type="password" name="password" class="form-control" placeholder="Enter Your Password">
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-dark">Submit</button>
            </div>
        </form>

        <p>If You Don't Have An Account
            You can <a href="{% url 'account:register' %}">Sign up</a>
        </p>
        <div>
            <a href="{% url 'account:password_reset' %}">Reset Password</a>
        </div>
    </div>

{% endblock %}