{% extends "search/base.html" %}

{% block title %}Team Detail{% endblock %}

{% block content %}
<div class="col-md-6 offset-md-3">
    <br>
    <h1>{{ team.title }}</h1>
    <p class="text-wrap text-break">Description: {{ team.description }}</p>
    <form method="post">
        {% csrf_token %}
        {% with request.user as profile %}
        {% if profile.id != team.owner.id %}
            {% if team_profiles.exists %}
                <button name="follow" value="unfollow" type="submit">
                    Unfollow
                </button>
            {% else %}
                <button name="follow" value="follow" type="submit">
                    Follow
                </button>
            {% endif %}
        {% endif %}
        {% endwith %}
    </form>
    <p>Teammates :</p>
    {% for profile in team.profile.all %}
        <p>
            <a href="{% url 'account:profile' profile.pk %}">@{{ profile.user.username }}</a>
        </p>
    {% endfor %}

    <p>Roles:</p>
        <ul class="list-group list-group-horizontal">
        {% for role in team.role.all|slice:":5" %}
            <li class="list-group-item text-center" >{{ role }}</li>
        {% endfor %}
            {% if team.role.all|slice:"5:"|length > 0%}
                  <li class="list-group-item text-white bg-dark">
                      +{{ team.role.all|slice:"5:"|length}}
                  </li>
            {% endif %}
        </ul>
    <p>
        {{ team.created_at }}
    </p>
{% if request.user.id == team.owner.id %}
                    <a class="btn btn-dark" href="{% url 'account:team:edit_team' pk=team.pk %}">Edit Team</a>
                    <a class="btn btn-dark" href="{% url 'account:team:delete_team' pk=team.pk %}">Delete Team</a>
                {% endif %}
</div>
{% endblock %}